/* About Page */
.leadership-section .info {
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  width: 80%;
  padding-bottom: 42px;
}

.leadership-section .title {
  padding: 47px 0 42px 0;
}

.leadership-section .leader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.leader {
  padding-bottom: 54px;
}

.leader img {
  align-self: flex-start;
  padding: 15px;
}

.leader-bio {
  font-family: "Avenir Book";
  font-size: 18px;
  line-height: 23px;
  width: 70%;
}

.leader-bio span {
  font-family: "Avenir Medium";
}

.notable-events-section .title { 
    padding: 50px 0 0 0; 
}

.event {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

.event-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

.event img {
  padding: 15px;
}

.event-reverse img {
  padding: 15px;
}

.event .description {
  font-family: "Avenir Book", sans-serif;
  align-self: center;
  font-size: 18px;
  line-height: 23px;
  width: 70%;
  text-align: left;
}

.event .description .title, .event-reverse .description-reverse .title  {
  font-family: source-sans-pro, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
  line-height: 23px;
  width: 70%;
  text-align: left;
  color: #000000;
  padding-bottom: 20px;
}

.event .description .details, .event-reverse .description-reverse .details {
  padding-top: 40px;
}

.event-reverse .description-reverse {
  font-family: source-sans-pro, sans-serif;
  font-size: 18px;
  line-height: 23px;
  width: 70%;
  text-align: right;
}
