div.a{text-align:center;}
div.b{font-size:30px;color:lightgreen}
h1{font-size:50px}
p{font-size:20px}

.button {
  background-color: yellow;
  border-radius: 50px;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}