.media-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  padding: 46px 0 60px 0;
}

.media-section .title {
  padding-bottom: 15px;
  padding-top: 15px;
  align-self: flex-start;
  padding-left: 60px;
}
.magazine-section,
.radio-section,
.video-section {
  align-self: flex-start;
  padding-left: 60px;
}

.magazine-section a {
  font-family: "Avenir Book";
  font-size: 18px;
  line-height: 25px;
  text-decoration: underline;
  color: #252525;
}

.radio-section {
  display: flex;
  flex-flow: column wrap;
}

.radio-section .details {
  font-family: "Avenir Medium";
  font-size: 18px;
  line-height: 25px;

  color: #000000;
  text-decoration-line: none;
}

.radio-section a {
  font-family: "Avenir Medium";
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration-line: underline;
}

.video-section {
  display: flex;
  flex-flow: column wrap;
}

.video-section .show-list {
  display: flex;
  flex-flow: row wrap;
}

.video-section .details {
  font-family: "Avenir Book";
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.video-section .details span {
  text-decoration-line: underline;
}

.video-section .show-details { 
  padding: 25px;
}

.video-section .show-details .show-title {
  font-family: "Avenir Book";
  font-style: italic;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.video-section a {
  font-family: "Avenir Heavy";
  text-decoration: underline;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.gallery-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.gallery {
  padding: 0 20px 0 20px;
  width: 80%;
  text-align: center;
}

.gallery-img {
  padding: 30px;
}
