.studying-here-info-section {
  padding: 76px 0 52px 0;
}

.studying-here-info {
  font-family: source-sans-pro, sans-serif;
  font-size: 18px;
  line-height: 23px;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 80%;
  color: #252525;
}
